#content a
{
    color: blue;
}

#content a:hover
{
    text-decoration: underline;
}

#content a:visited
{
    color: purple;
}

button#loginbutton
{
    cursor: pointer;
    display: block;
    margin: auto;
    width: 15em;
    font-size: 1.25em;
    height: 2em;
}