
/* Lightbox */
#overlay 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 4;
}

#lightbox
{
    display: none;
    position: fixed;
    width: 20em;
    background: #DDD;
    border: 2px solid #FFF;
    z-index: 5;

    -moz-border-radius: 0.35em;
    -webkit-border-radius: 0.35em;
    border-radius: 0.35em;	
}

#lightbox>div
{
    padding: 1em;	
}

#lightbox button
{
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.5em;	
}

#lightbox button.create, #lightbox button.cancel, #lightbox .yesbutton, #lightbox .nobutton, #lightbox #okay, #lightbox button.recover, #lightbox button.ok
{
    float: right;
    font-weight: bold;
    margin-left: 0.2em;
    margin-top: 0.4em;
    margin-bottom: 1em;
    height: 2em;
    border: none;
    width: 5em;
}

#lightbox h4
{
	font-size: 1.6em;	
	background: url('../img/underline.gif') repeat-x left bottom;
}

#lightbox ul li
{
	margin-top: 0.2em;
	margin-bottom: 0.2em;	
}

#lightbox label
{
	display: inline-block;
	width: 7em;
}

#lightbox button:hover
{
	cursor: pointer;	
}


#lightbox button.create, #lightbox .yesbutton, #lightbox #okay, #lightbox button.recover
{
	background: #0099CC;
	background: -webkit-gradient(linear, left top, left bottom, from(#0099CC), to(#006699));
	background: -moz-linear-gradient(top,  #0099CC,  #006699);
}

#lightbox button.cancel, #lightbox .nobutton
{
	background: #FF3030;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF3030), to(#CD0000));
	background: -moz-linear-gradient(top,  #FF3030,  #CD2222);
}

#lightbox button.ok
{
    background: #9dd74f;
	background: -webkit-gradient(linear, left top, left bottom, from(#9dd74f), to(#7ead3e));
	background: -moz-linear-gradient(top,  #9dd74f,  #7ead3e);
}