@font-face
{
    font-family: calibri;
    src: url('fonts/calibri.eot');
    src: local(calibri), url('fonts/calibri.ttf') format('opentype');
}

*
{
    font-family: calibri, Arial, Helvetica, sans-serif;	
}

body
{
    height: 100%;
}

#main
{
    width: 1040px;
    margin: auto;
    margin-top: 30px;
}

/* ILO */
.ilo
{
    position: relative;
    display: inline-block;	
    text-align: center;
}
