@font-face
{
    font-family: calibri;
    src: url('fonts/calibri.eot');
    src: local(calibri), url('fonts/calibri.ttf') format('opentype');
}

*
{
    font-family: calibri, Arial, Helvetica, sans-serif;	
}

body
{
    height: 100%;
}

#main
{
    width: 1040px;
    margin: auto;
    margin-top: 30px;
}

/* ILO */
.ilo
{
    position: relative;
    display: inline-block;	
    text-align: center;
}

/* Info Box */
.infoBox
{
    padding: 0.25em 0.25em 0 0.25em;
    margin-bottom: 1em;
    min-height: 1.5em;
    border: 1px solid black;
}

#content .infoBox>*:last-of-type
{
    padding-bottom: 0.25em;
}


.infoBox[data-infoboxtype="definition"]
{
    background-color: #DDF;
}

.infoBox[data-infoboxtype="theorem"]
{
    background-color: #DFD;
}

.infoBox[data-infoboxtype="warning"]
{
    background-color: #FDD;
}

.infoBox[data-infoboxtype="information"]
{
    background-color: #FFD;
}

.infoBox[data-infoboxtype="teacher"]
{
    background-color: #EEE;
}