body
{
    width: 100%;
    overflow: auto;
}

nav#coursenav
{
    width: 12%;
    float: left;
    margin-left: 2%;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: #E3E8EC;
    border-radius: 5px;
}

nav#coursenav div#coursenavheader
{
    background-color:#EDF1F4;
    padding: 10px 10px 0 10px;
    border-radius: 5px 5px 0 0;
}

nav#coursenav h2
{
    padding: 2px 0em 2px 0;
    font-size: 20px;
}

nav#coursenav #backToCourseButton
{
    float: right;
    margin-top:-27px;
}

nav#coursenav #backToCourseButton img
{
    width: 20px;
    height: 20px;
}

nav#coursenav>div>ul
{
    margin-top: 3px;
    padding: 0 10px 10px 10px;
}

nav#coursenav>div>ul>li
{
    font-size: 18px;
    margin-top: 3px;
}

nav#coursenav>div>ul>li>ul
{
    font-size: 14px;
}

nav#coursenav>div>ul>li>ul>li>a:hover
{
    text-decoration: underline;
}