#content a
{
    color: blue;
}

#content a:visited
{
    color: #9d11b3;
}

#content a:hover
{
    text-decoration: underline;
}

button#retakequiz
{
    margin-top: 2em;
    float: right;

    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    padding: .5em 2em .55em;
}