table#quizOverview td:last-of-type img
{
	width: 1.5em;
	height: 1.5em;
	cursor: pointer;
}

table#quizOverview td:last-of-type>img
{
	margin-left: 0.5em;
}

#reassignQuestionLightBox select, #attachQuestionLightBox select
{
	width: 16em;
}

#lightbox
{
	width: 25em;	
}

button#addQuestion, button#attachQuestion
{
	margin-top: 2em;
	float: right;
	
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	padding: .5em 2em .55em;
}